@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Pacifico&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  color: white;
}

a:visited {
  color: #ffffff;
}

body {
  font-family: "Nunito", sans-serif;
  background: #f1f8ff;
}

header {
  position: sticky;
  top: 0px;
  background: #141414;
}

.navbar {
  padding: 40px;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  font-size: 20px;
}

.responsiveTitleNav {
  align-items: center;
  padding: 15px;
}

.responsiveTitleNav p,
.logoNav {
  color: #fea116;
  font-size: 55px;
  font-weight: 600;
  padding-right: 10px;
}

nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.banner {
  background-image: url("/img/bg-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  background-size: cover;
}

.flexBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
}

.flexBanner h1 {
  font-size: 100px;
  padding-top: 140px;
}

.flexBanner p {
  padding: 0 250px 150px 250px;
  font-size: 24px;
}

.serviciosCardFlex {
  display: flex;
  padding: 30px 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.serviciosCard {
  width: 23%;
  border-radius: 15px;
  margin: 10px;
  background: white;
  padding: 30px;
  font-size: 22px;
}

.serviciosCard h3 {
  font-size: 24px;
}

.serviciosCard p {
  padding: 20px 0;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  line-height: 2rem;
}

.iconSVG {
  color: #fea116;
  font-size: 60px;
  padding-bottom: 10px;
}

.containerNosotrosFlex {
  display: flex;
  padding: 2% 2%;
}

.boxNosotros {
  width: 50%;
}

.textoNosotros h3 {
  font-family: "Pacifico", cursive;
  font-size: 26px;
  color: #fea116;
}

.textoNosotros h2 {
  font-size: 30px;
  padding: 10px 0px;
}

.textoNosotros p {
  font-size: 23px;
  line-height: 2.4rem;
  font-family: "Roboto", sans-serif;
}

.nosotrosColor {
  color: #fea116;
}

.textoNosotros {
  padding: 15px;
  width: 50%;
}

.d-flex {
  display: flex;
}

.nosotrosImgBox1 {
  margin: 5px 20px;
  width: 50%;
  justify-content: end;
  align-items: end;
}

.nosotrosImgBox2 {
  margin: 5px 20px;
  width: 50%;
  justify-content: start;
  align-items: end;
}

.nosotrosImgBox3 {
  margin: 5px 20px;
  width: 50%;
  justify-content: end;
  align-items: start;
}

.nosotrosImgBox4 {
  margin: 5px 20px;
  width: 50%;
  justify-content: start;
  align-items: start;
}

.responsiveNosotros {
  display: none;
  width: 100%;
}

.responsiveNosotrosImagen {
  box-shadow: 8px 7px 12px gray;
  border-radius: 8px;
  width: 100%;
}

.nosotrosImgSmallSize {
  width: 225px;
}

.nosotrosImgNormalSize {
  width: 325px;
}

.containerWidth {
  width: 50%;
}

.consultaImagenWidth {
  width: 50%;
}

.mainMenu {
  text-align: center;
}

.mainMenu h2 {
  font-size: 32px;
}

.mainMenu h3 {
  padding: 60px 0 15px 0;
  font-size: 26px;
  font-family: "Pacifico", cursive;
  color: #fea116;
}

.imgSizeMenu {
  width: 17%;
  margin: 20px;
  box-shadow: 4px 7px 12px gray;
}

.containerMenu {
  padding: 30px 60px;
  flex-wrap: wrap;
}

.pProperties {
  justify-content: space-between;
  font-size: 24px;
  border-bottom: 2px solid #000;
  font-weight: 600;
}

.menuOpciones div {
  width: 60%;
}

.justifyCenter {
  justify-content: center;
  align-items: center;
}

.menuOpciones p {
  padding: 10px;
}

.menuOpcionesDescripcion {
  font-size: 20px;
  font-style: italic;
}

.menuOpciones span {
  color: #fea116;
  font-weight: 600;
}

.consultaContainer {
  padding-top: 60px;
}

.consultaNameInput,
.consultaEmailInput,
.consultaTextareaInput,
.consultaTitle,
button {
  font-family: "Roboto", sans-serif;
  flex-direction: column;
}

.consultaNameInput,
.consultaEmailInput {
  width: 50%;
  font-size: 23px;
  font-weight: 100;
}

#fnamelname,
#email {
  height: 60px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 24px;
  padding: 0px 10px;
  font-family: "Roboto", sans-serif;
}

#textarea {
  margin: 10px 0;
  height: 225px;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px 10px;
  font-family: "Roboto", sans-serif;
}

.consultaTextareaInput {
  font-size: 24px;
}

.consultaImagen {
  width: 100%;
  height: 100%;
}

.consulta {
  color: #ffffff;
  background: #0f172b;
  padding: 30px;
  width: 50%;
}

.consultaTitle h3 {
  color: #fea116;
  font-size: 27px;
}

.consultaTitle h2 {
  font-size: 32px;
  color: #ffffff;
  padding: 20px 0px;
}

.consultaBoton {
  width: 100%;
  background: #fea116;
  border-radius: 5px;
  height: 66px;
  font-size: 23px;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

.nuestroEquipo {
  padding: 2% 4%;
  flex-wrap: wrap;
  justify-content: center;
}

.nuestroEquipoTitle {
  text-align: center;
}

.nuestroEquipoTitle h3 {
  font-size: 26px;
  font-family: "Pacifico", cursive;
  color: #fea116;
  padding-top: 40px;
}

.nuestroEquipoTitle h2 {
  color: #000;
  font-size: 32px;
  padding-top: 15px;
}

.nuestroEquipoCheffs {
  border-radius: 50%;
  width: 60%;
}

.nuestroEquipoBoxProperties {
  width: 23%;
  border-radius: 15px;
  margin: 10px;
  background: white;
  height: 350px;
  padding: 30px;
  font-size: 20px;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background: #0f172b;
  color: white;
  padding: 30px 60px;
  font-family: "Roboto", sans-serif;
}

.footerContainer {
  flex-wrap: wrap;
}

footer p {
  font-size: 20px;
  padding-top: 5px;
}

footer h3 {
  font-family: "Pacifico", cursive;
  color: #fea116;
  font-size: 27px;
  padding-bottom: 10px;
}

.displayBlock {
  display: block;
  text-decoration: none;
}

.footerA {
  font-size: 20px;
  padding-top: 5px;
}

.footerBox {
  width: 25%;
}

.iconSVGFooter {
  font-size: 45px;
  padding-right: 10px;
  padding-top: 10px;
}

@media (max-width: 1280px) {
  .navbar {
    padding: 2%;
  }

  .serviciosCard {
    width: 47%;
    height: auto;
  }

  .responsiveNosotros {
    display: block;
  }

  .textoNosotros {
    width: 100%;
  }

  .imgSizeMenu {
    width: 20%;
    margin: 2%;
  }

  .menuOpciones div {
    width: 75%;
  }

  .containerWidth {
    width: 100%;
  }

  .responsiveDisplayNone {
    display: none;
  }

  .containerNosotrosFlex {
    padding: 2% 4%;
    flex-wrap: wrap;
  }

  .consulta {
    width: 100%;
  }

  .consultaImagenWidth {
    width: 200%;
  }

  .consultaContainer {
    flex-wrap: wrap;
  }

  .nuestroEquipoBoxProperties {
    width: 47%;
    height: auto;
  }

  .nuestroEquipo {
    flex-wrap: wrap;
  }

  .footerBox {
    width: 50%;
  }

  .flexBanner h1 {
    font-size: 75px;
    padding-top: 70px;
  }

  .flexBanner p {
    padding: 30px 100px;
  }
}

@media (max-width: 768px) {
  .responsiveTitleNav {
    width: 100%;
    justify-content: center;
  }

  .responsiveTitleNav p,
  .logoNav {
    font-size: 35px;
  }

  header {
    position: static;
  }

  nav {
    flex-direction: column;
  }

  .navbar {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2%;
  }

  .flexBanner p {
    padding: 2%;
  }

  .flexBanner h1 {
    font-size: 50px;
    padding: 2%;
  }

  .textoNosotros {
    width: 100%;
    padding: 0;
  }

  .textoNosotros p {
    text-align: center;
  }

  .textoNosotros h2 {
    text-align: center;
  }

  .textoNosotros h3 {
    text-align: center;
  }

  .consultaContainer {
    padding-top: 0;
  }

  .serviciosCard {
    width: 100%;
    height: auto;
    padding: 4%;
  }

  .serviciosCardFlex {
    padding: 2% 2%;
  }

  .nuestroEquipoBoxProperties {
    width: 100%;
    height: auto;
    padding: 2%;
    margin: 2% 0;
  }

  .nuestroEquipoCheffs {
    width: 50%;
  }

  .responsiveDisplayNone {
    display: none;
  }

  .containerNosotrosFlex {
    padding: 2% 2%;
  }

  .mainMenu h3 {
    padding: 2% 2%;
    font-size: 26px;
  }

  .imgSizeMenu {
    width: 60%;
    margin: 2%;
    box-shadow: 4px 7px 12px gray;
    border-radius: 8px;
  }

  .consultaTitle h3 {
    text-align: center;
  }

  .consultaTitle h2 {
    text-align: center;
    font-size: 24px;
  }

  .mainMenu h2 {
    font-size: 29px;
  }

  .menuOpciones div {
    width: 100%;
  }

  .pProperties {
    font-size: 22px;
  }

  .menuOpcionesDescripcion {
    font-size: 19px;
    padding: 4%;
  }

  .menuOpciones {
    flex-direction: column;
    margin: 4% 0;
    box-shadow: 5px 4px 14px gray;
    padding: 0 4%;
    border-radius: 5px;
  }

  .consulta {
    padding: 4%;
    width: 100%;
  }

  .containerMenu {
    padding: 2% 2%;
    flex-wrap: wrap;
  }

  .responsiveInput {
    flex-wrap: wrap;
  }

  .consultaNameInput,
  .consultaEmailInput {
    width: 100%;
  }

  .nuestroEquipo {
    padding: 2%;
  }

  .nuestroEquipoTitle h3 {
    padding: 2%;
  }

  .nuestroEquipoTitle h2 {
    padding: 2%;
  }

  .nuestroEquipoBoxProperties h2 {
    font-size: 25px;
    padding-top: 2%;
  }

  footer {
    padding: 1% 1%;
  }

  .footerContainer {
    flex-direction: column;
  }

  .footerBox {
    width: 96%;
    padding: 2%;
  }
}
